
<div class="container-fluid">
      <div class="row">

  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href='<%=user_path(current_user.id)%>'>
            <span data-feather="home"></span>
            Dashboard <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= user_job_apps_path(current_user.id) %>">
            <span data-feather="file"></span>
            Job Apps
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="<%= user_jobs_path(current_user.id)%>">
            <span data-feather="folder"></span>
            Jobs
          </a>
        </li>
        <% if hro_logged_in? %>
          <li class="nav-item">
            <a class="nav-link active" href="<%= clientes_path(current_hro.id)%>">
              <span data-feather="users"></span>
              Clients
            </a>
          </li>
        <%end%>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="bar-chart-2"></span>
            Reports
          </a>
        </li>
      </ul>
    </div>
  </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            
            <h1 class="h2">Our Clients</h1>
            
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>
          <div class = "d-flex justify-content-start flex-wrap">
    <% @clients.each do |client|%>
      <div class="card border-success" style="width: 250px; margin: 5px;">
        <img class="card-img-top" )>
        <%= image_tag(  client.avatar)%>
        <div class="card-body">
          <h5 class="card-title"><%= client.name %> <%= client.last_name %></h5>
          <p class="card-text"><strong>Phone: </strong><%= client.phone %>
          <br>
          <strong>Email: </strong><%= client.email %></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <% end %>
      </div>
          </main>
    </div>


<!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>


    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>





