<div class="container-fluid">
      <div class="row">

  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href='<%=user_path(current_user.id)%>'>
            <span data-feather="home"></span>
            Dashboard <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= user_job_apps_path(current_user.id) %>">
            <span data-feather="file"></span>
            Job Apps
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= user_jobs_path(current_user.id)%>">
            <span data-feather="folder"></span>
            Jobs
          </a>
        </li>
        <% if hro_logged_in? %>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
        <%end%>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="bar-chart-2"></span>
            Reports
          </a>
        </li>
      </ul>
    </div>
  </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Job Applications</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>
          <div>

      
      </div>
        <% if current_user && current_user.role == "Trabajador"%>
            <div>
                <% @jobapps.each do |ja|%>
                    <%= ja.id%>
                    <% end%>
            </div>
        <% end %>
        <% if hro_logged_in?%>
        <table class = 'table table-hover'>
          <thead class = 'thead-light'>
            <tr>
              <th>Name</th>
              <th>Last Name</th>
              <th>Phone</th>
              <th>Rating</th>
              <th>Position</th>
              <th>Date</th>
              <th>Client</th>
              <th>Approve</th>
            </tr>
          </thead>
 
            <tbody>
              <% @jobapps.each do |ja| %>
                <% if ja.approved == true %>
                <tr class = 'table-success'>
                <%else%>
                <tr class = 'table-warning'>
                <% end %>
                  <td><%= ja.trabajador.name%></td>
                  <td><%= ja.trabajador.last_name%></td>
                  <td><%= ja.trabajador.phone%></td>
                  <td><% ja.trabajador.rating.to_i.times do  %>
                    <span class="glyphicon glyphicon-star"></span>
                    <% end %>
                    <% ja.trabajador.blank_stars.to_i.times do  %>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <% end %></td>
                  <td><%= ja.job.position %></td>
                  <td><%= ja.job.start_datetime&.strftime('%b %e, %l:%M %p') %></td>
                  <td><%= ja.job.cliente.name %> <%=ja.job.cliente.last_name %></td>
                  
                  <td><div class = 'row botones '><% if ja.approved == nil %>
                    <%=button_to user_job_app_path(ja.user_id, ja.id), method: :patch, params: {job_app_id: ja.id}, class: "btn btn-primary btn-sm glyphicon glyphicon-ok" do %>
                    <% end %>
                  <% end%>
                  <% if ja.approved == nil||ja.approved == true %>
                    <%=button_to user_job_app_path(ja.user_id, ja.id), method: :delete, params: {job_app_id: ja.id}, class: "btn btn-danger btn-sm glyphicon glyphicon-remove" do %>
                    <% end %>
                  <% end%></div></td>
                  
                </tr>
              <% end %>

        <%end%>
        <% if client_logged_in?%>
        <ul>
            <div>
                <% @jobs.each do |j|%>
                <%= j.description%>
                <ul>
                <div>
                  <% j.job_apps.each do |ja|%>
                    <li><%= ja.id%></li>
                    <% end %>
                </div>
                    <hr>
                </ul>
                  <% end %>
            </div>
        </ul>
        <%end%>
        


          </main>
    </div>


<!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>


    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>




