
<div id="accordion">
  <div class = 'container'>
  <table class="table ">
  <thead>
    <tr class = 'row'>
      <div class = 'container'>

      <th class="col-sm-4" style="padding-left: 46px;">Position:</th>
      <th class="col-sm-4" style="padding-left: 1.75rem;">Start Date:</th>
      <th class="col-sm-3" style="padding-left: 5px;">End Date:</th>
      <th class="col-sm-1">Status:</th>

      </div>
    </tr>
    
  </thead>
  </table>
    <% @jobs.each do |job|%>
      <div class="card">
        <div class="card-header" id="heading<%= job.id %>">

            <button class="btn btn-link w-100" data-toggle="collapse" data-target="#collapse<%= job.id %>" aria-expanded="false" aria-controls="collapse<%= job.id %>">

                <div class="row">
                  <div class="col-sm-4 text-left" ><strong></strong> <%= job.position%></div>
                  <div class="col-sm-4 text-left"><strong></strong> <%= job.start_datetime&.strftime('%e %b %Y %H:%M:%S%p')%></div>
                  <div class="col-sm-3 text-left"><strong></strong> <%= job.end_datetime&.strftime('%e %b %Y %H:%M:%S%p')%></div>
                  <div class="quantity col-sm-1 text-right"><strong><%= job.job_apps.where(approved: true).length %>/<%= job.quantity %></strong></div>
                </div>

            </button>
        </div>

        <div id="collapse<%= job.id %>" class="collapse" aria-labelledby="heading<%= job.id %>" data-parent="#accordion">
          <div class="card-body">
            <div>
              <strong>Description: </strong> <%= job.description%>
            </div>
            <div>
              <strong>Requirements: </strong><%= job.requirements%>
            </div>
            <div>
              <strong>Salary: </strong><%= job.salary%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>